/ocs-api/ocs-api
/ocs-api/linux/
/ocs-api/ocs-db/
/keys/ecdsa256Key/
/keys/ecdsa384Key/
/keys/rsaKey/

# Where the SDO 1.9 tar files are downloaded to
/sdo/

/vendor/
/.vscode/

# Intellij GoLand files
/.idea/
