# For building the sdo_device_binaries_1.9_linux_x64 tar file
/sdo_device_binaries_1.9_linux_x64/
/sdo_device_binaries_1.9_linux_x64.tar.gz
#todo: remove
/sdo_device_binaries_1.8_linux_x64/
/sdo_device_binaries_1.8_linux_x64.tar.gz

# keys/manufacturer-keystore.p12 is the runtime temporary place for the mfg private key so docker-compose will find it
/keys/manufacturer-keystore.p12
# keys/owner-key.pub is the runtime temporary place the owner public key is downloaded to, if the user specified a URL
/keys/owner-key.pub
